@import './src/assets/mixins.scss';

.header_wrap{
    position: absolute;
    background:transparent;
    width:100%;
    top:0;
    height: 88px;
    z-index: 1;
    background: #ffffffd4;
    padding: 10px 0px;
    .header_inner{
        padding-left:150px;
        padding-right:150px;
        position: relative;
        @include col-xs(){
            padding-left:50px;
            padding-right:50px;
        }
        .logo{
            width:150px;
            height:69px;
            position: absolute;
            top:0px;
            left:150px;
            @include col-sm(){
                left:50px;
            }
            @include col-sm(){
                left:50px;
            }
            @include col-xs(){
                left:50px;
            }
            img{
                width:150px;
            }
        }
        .links{
            width:500px;
            position: absolute;
            right:150px;
            top:17px;
            @include col-md(){
                right:50px;
            }
            @include col-sm(){
                right:50px;
            }
            @include col-xs(){
                right:50px;
            }
            ul{
                list-style: none;
                text-align: right;
                li{
                    display: inline-block;
                    margin-left:20px;
                    a{
                        color:#111111;
                        font-size:1.3rem;
                        letter-spacing: -1px;
                        transition: color 1.0s ease;
                        &:hover{
                            color: #ec6d8f;
                        }
                    }
                }
            }
        }
    }
}
