@import './src/assets/mixins.scss';

$pink: #dc518b;

.pink{
  color: $pink;
}

.pagecontent{
  padding:100px 50px 50px 50px;
  margin:20px auto;
  max-width:800px;

    .title{
        text-align: center;
    }
}

.hidden{
  display:none;
}

.grid{
  display:flex;
  flex-wrap:wrap;
  .item{
    flex:1;
    flex-basis: 33%;
    max-height:420px;
    img{
      display: block;
      width:100%;
    }
  }
  .itemdouble{
    flex:1;
    flex-basis: 66%;
    max-height:420px;
    img{
      display: block;
      width:100%;
    }
  }
}